<h1>Articles</h1>

Execute some default scripts/commands.

<%= button_to "Execute Default Script", '/resultsc', method: :get %><br />
<%= button_to "Execute Time Script", '/resultti', method: :get %><br />
<%= button_to "Check Redis Key", '/resultred', method: :get %><br /
